<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="McMaster.Extensions.CommandLineUtils" version="3.0.0" targetFramework="xamarinmac20" />
  <package id="Octokit" version="0.48.0" targetFramework="xamarinmac20" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="xamarinmac20" />
</packages>